@model traveling.Models.user
@Html.Partial("~/Views/Shared/DashboardLayout.cshtml")


<div class="massive-container" style="margin-top:50px;">
    <div class="container">

        <div class="register col-lg-8 col-md-10 col-sm-12" style="">
            <div class="container-fluid register-form-cont-parent">
                <div class="row">
                    <div class="register-form-cont-child col-lg-10 col-md-11 col-sm-11 col-xs-11">
                        @using (Html.BeginForm("AddUser", "Admin"))
                        {
                            <div class="regist-form">

                                <div class="register-input-cont ">
                                    <i class="las la-user single-info-icon"></i>

                                    @Html.TextBoxFor(m => m.fname, new { type = "text", placeholder = "First Name", @class = "sign-input" })
                                </div>


                                <div class="register-input-cont">
                                    <i class="las la-user single-info-icon"></i>
                                    @Html.TextBoxFor(m => m.lname, new { type = "text", placeholder = "Last Name", @class = "sign-input" })
                                </div>

                                <div class="register-input-cont">
                                    <i class="las la-user single-info-icon"></i>
                                    @Html.TextBoxFor(m => m.username, new { type = "text", placeholder = "user name", @class = "sign-input" })
                                </div>

                                <div class="register-input-cont">
                                    <i class="las la-mobile-alt single-info-icon"></i>
                                    @Html.TextBoxFor(m => m.phone, new { type = "text", placeholder = "Phone ...", @class = "sign-input" })
                                </div>
                                <div class="register-input-cont">
                                    <i class="las la-envelope single-info-icon"></i>
                                    @Html.TextBoxFor(m => m.email, new { type = "email", placeholder = "E-Mail ...", @class = "sign-input" })
                                </div>

                                <div class="register-input-cont">
                                    <i class="las la-lock single-info-icon"></i>
                                    @Html.TextBoxFor(m => m.password, new { type = "password", placeholder = "Password ...", @class = "sign-input" })
                                </div>
                                <div class="register-input-cont">
                                    <div class="register-input-cont">
                                        <i class="las la-user-tag single-info-icon"></i>
                                        @Html.DropDownListFor(m => m.userType, new SelectList(new[] { "", "agency", "traveller" }), new { @class = "sign-input" })
                                    </div>





                                </div>
                                <div class="button-reg-cont">
                                    <button type="submit" class="btn register-button submit-data">Submit</button>
                                </div>

                            </div>
                        }



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

